<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
 	<typeAliases>
		<typeAlias type="com.shs.s1.coupon.CouponDTO" alias="CouponDTO"/>
		<typeAlias type="com.shs.s1.util.CouponPager" alias="Pager"/>
		<typeAlias type="com.shs.s1.member.MemberDTO" alias="MemberDTO"/>
		<typeAlias type="com.shs.s1.board.notice.NoticeDTO" alias="NoticeDTO"/>
	    <typeAlias type="com.shs.s1.board.BoardDTO" alias="BoardDTO"/>
	    <typeAlias type="com.shs.s1.board.qna.QnaDTO" alias="QnaDTO"/>
	    <typeAlias type="com.shs.s1.util.BoardPager" alias="BoardPager"/>
        <typeAlias type="java.lang.Long" alias="Long"/>
	</typeAliases>
</configuration>