<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
 	<typeAliases>
		<typeAlias type="com.shs.s1.test.TestDTO" alias="TestDTO"/>
		<typeAlias type="com.shs.s1.product.ProductDTO" alias="ProductDTO"/>
		<typeAlias type="com.shs.s1.util.ProductPager" alias="ProductPager"/>
		<typeAlias type="com.shs.s1.product.ProductImageDTO" alias="ProductImageDTO"/>
		<typeAlias type="com.shs.s1.order.CartDTO" alias="CartDTO"/>
		
		
	</typeAliases>
</configuration>