<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
 	<typeAliases>
 	
		<typeAlias type="com.shs.s1.test.TestDTO" alias="TestDTO"/>		
		<typeAlias type="com.shs.s1.board.BoardDTO" alias="BoardDTO"/>
		<typeAlias type="com.shs.s1.board.notice.NoticeDTO" alias="NoticeDTO"/>
		<typeAlias type="com.shs.s1.board.qna.QnaDTO" alias="QnaDTO"/>
		<typeAlias type="com.shs.s1.board.review.ReviewDTO" alias="ReviewDTO"/>
		<typeAlias type="com.shs.s1.board.comments.CommentsDTO" alias="CommentsDTO"/>
		<typeAlias type="com.shs.s1.util.BoardPager" alias="BoardPager"/>
	
		<typeAlias type="java.lang.Long" alias="Long"/>
		
	</typeAliases>
</configuration>