<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
 <mapper namespace="com.shs.s1.coupon.CouponDAO">
 	<select id="getList" parameterType="Pager" resultType="CouponDTO">
 		select * from (
		select rownum R, C.* from (
		select * from COUPON where
		<choose>
			<when test="kind=='쿠폰번호'">
				couponNum
			</when>
			<when test="kind=='ID'">
				id
			</when>
			<otherwise>
				usage
			</otherwise>
		</choose>
		<!-- <if test="kind=='writer'"> writer </if> <if test="kind=='contents'"> 
			contents </if> <if test="kind=='title'"> where </if> -->
		like '%' || #{search} || '%' order by couponNum desc
		) C
		)
		where R between #{startRow} and #{lastRow}
 	</select>
 	<select id="getTotalCount" parameterType="Pager" resultType="java.lang.Long">
 		select count(couponNum) from COUPON where
 		<choose>
 			<when test="kind=='쿠폰번호'">
 				couponNum
 			</when>
 			<when test="kind=='ID'">
 				id
 			</when>
 			<otherwise>
 				usage
 			</otherwise>
 		</choose>
 		like '%' || #{search} || '%'	
 	</select>
 	
 	<select id="getSelect" parameterType="CouponDTO" resultType="CouponDTO">
 		select * from COUPON where couponNum=#{couponNum}
 	</select>
 	<insert id="setInsert" parameterType="CouponDTO">
 		insert into COUPON values(#{couponNum}, #{id}, #{disRate}, #{disPrice}, #{usage})
 	</insert>
 	<delete id="setDelete" parameterType="CouponDTO">
 		delete from COUPON where couponNum=#{couponNum}
 	</delete>
 	<update id="setUpdate" parameterType="CouponDTO">
 		update set 
 		id=#{id}, disRate=#{disRate}, disPrice=#{disPrice}, usage=#{usage}
 		where couponNum=#{couponNum}
 	</update>
 
 </mapper>