<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.shs.s1.member.MemberDAO">

	<insert id="memberJoin" parameterType="MemberDTO">
		insert into member values (member_seq.nextval, #{id}, #{pw}, #{name}, #{phone}, #{email})
	</insert>

	<select id="memberIdCheck" parameterType="MemberDTO" resultType="MemberDTO">
		select id from member where id=#{id}
	</select>
	
	<select id="memberLogin" parameterType="MemberDTO" resultType="MemberDTO">
		select * from member where id=#{id} and pw=#{pw}
	</select>
	
	<select id="memberIdFind" parameterType="MemberDTO" resultType="MemberDTO">
		select id from member where name=#{name} and email=#{email}
	</select>
	
	<select id="memberPwFind" parameterType="MemberDTO" resultType="MemberDTO">
		select pw from member where id=#{id} and email=#{email}
	</select>
	
	<update id="memberModify" parameterType="MemberDTO">
		update member set pw=#{pw}, name=#{name}, email=#{email}, phone=#{phone} where id=#{id}
	</update>
	
	<delete id="memberDelete" parameterType="MemberDTO">
		delete member where id=#{id}
	</delete>
	
<!-- 	<select id="memberMyBoard" parameterType="BoardDTO" resultType="BoardDTO">
		select n.* from notice n, member m where n.writer = m.id and m.id=#{id}
	</select> -->
</mapper>