<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shs.s1.board.notice.NoticeDAO">

	<!-- Notice totalCount -->
	<select id="getTotalCount" parameterType="BoardPager" resultType="Long">
		select count(num) from notice
		where 
		<choose>
		
			<when test="kind == '글쓴이'">
				writer
			</when>
			
			<when test="kind == '내용'">
				contents
			</when>
			
			<otherwise>				
				title
			</otherwise>
			
		</choose>
		like '%'|| #{search} ||'%' and num >0
	</select>
    
    
    <!-- Notice List -->
    <select id="getList" parameterType="BoardPager" resultType="NoticeDTO">
    	select * from
			(select rownum R, N.* from
				(select * from notice where
					<choose>
						<when test="kind == '글쓴이'">
							writer
						</when>
						
						<when test="kind == '내용'">
							contents
						</when>
						
						<otherwise>
							title
						</otherwise>
					
					</choose>

				  like '%' || #{search} || '%' and num > 0 order by num desc) N)
		where R between #{startRow} and #{lastRow}
    </select>
    
    <!-- Notice Insert -->
    <insert id="setInsert" parameterType="BoardDTO">
    
    	<!-- keyProperty는 파라미터의 이름, order는 after와 before가 있찌만 after는 잘 안되므로 before 사용 -->
    	<selectKey keyProperty="num" resultType="Long" order="BEFORE">
			select notice_seq.nextval from dual
		</selectKey>
    
    	insert into notice values (notice_seq.nextval, #{title}, #{writer}, #{contents}, sysdate, 0)
    </insert>
    
    
    <!-- Notice Select -->
    <select id="getSelect" parameterType="BoardDTO" resultType="NoticeDTO">
    	select * from notice where num = #{num}
    </select>
    
    
    <!-- Notice Update -->
    <update id="setUpdate" parameterType="BoardDTO">
    	update notice set title = #{title}, writer = #{writer}, contents = #{contents}, hit = 0, regdate = sysdate 
    	where num = #{num}
    </update>
    
    
    <!-- Notice Delete -->
    <delete id="setDelete" parameterType="BoardDTO">
    	delete notice where num = #{num}
    </delete>
    
    
    <!-- Notice Hit Update -->
    <update id="setHitUpdate" parameterType="BoardDTO">
    	update notice set hit=hit+1 where num=#{num}
    </update>
    

</mapper>