<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
 <mapper namespace="com.shs.s1.order.OrderDAO">
 
 
 
 

<insert id="setCartInsert" parameterType="CartDTO">
	insert into Cart (cartNum,productNum,id,cartStock) values(cart_seq.nextval,#{productNum},#{id},1)
</insert>
 
 
<select id="getCartList" parameterType="MemberDTO" resultType="CartDTO">
	select *
	from cart
	where id=#{id}
</select>
 
 
 
 <insert id="setOrderInfoInsert" parameterType="AddressInfoDTO">
 	insert into orderInfo values(ORDERINFO_SEQ.nextval,#{id},#{productNum},#{orderNum},sysdate,'배송준비중','-')
 </insert>
 
 
 
 
 <insert id="setAddrInsert" parameterType="AddressInfoDTO">
 
 	insert into addressInfo values(addr_seq.nextval,#{orderNum},#{id},#{productNum},#{price},#{amount},#{name},#{zipCode},#{addr},#{phone},#{email},#{addrMessage})
 
 </insert>
 
 
 <select id="getAddrOne" parameterType="AddressInfoDTO" resultMap="AddrProductResult">
 
 select *
 from addressInfo AI left join product P
 on AI.productNum=P.productNum
 where orderNum=#{orderNum}
 
 </select>
 
  <select id="getAddrList" parameterType="AddressInfoDTO" resultMap="AddrProductResult">
 
 select *
 from addressInfo AI left join product P
 on AI.productNum=P.productNum
 where orderNum=#{orderNum}
 
 </select>
 


 
 <resultMap type="AddressInfoDTO" id="AddrProductResult">
 	<id property="addressNum" column="addressNum"></id>
 	<result property="orderNum" column="orderNum"></result>
 	<result property="productNum" column="productNum"></result>
 	<result property="price" column="price"></result>
 	<result property="name" column="name"></result>
 	<result property="zipCode" column="zipCode"></result>
 	<result property="addr" column="addr"></result>
 	<result property="phone" column="phone"></result>
 	<result property="email" column="email"></result>
 	<result property="addrMessage" column="addrMessage"></result>
 
 		<collection property="products" javaType="java.util.List" ofType="ProductDTO">
			 	<id property="productNum" column="productNum"></id>
			 	<result property="kinds" column="kinds"></result>
			 	<result property="contents" column="contents"></result>
			 	<result property="price" column="price"></result>
			 	<result property="productName" column="productName"></result>
			 	<result property="amount" column="amount"></result>
			 	
			 	</collection>
 </resultMap>
 
 
 </mapper>