<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
 <mapper namespace="com.shs.s1.product.ProductDAO">
 
 
 
 
 <select id="getProductNum" resultType="java.lang.Long">
 select product_seq.nextval from dual
 </select>
 
 
 <select id="getList" parameterType="ProductPager" resultType="ProductDTO"> 
 
 select * from
(select rownum R, P.*
from (select * from product
 order by productNum desc) P)
 where R between #{startRow} and #{lastRow}
 
 
 
 </select>
 
 <select id="getSelect" parameterType="ProductDTO" resultMap="ProductSelectResult">
 select P.*,PM.*
 from product P left join productIMAGE PM
 on P.productNum=PM.productNum
 where P.productNum = #{productNum}
 </select>
 
 <resultMap type="ProductDTO" id="ProductSelectResult">
 	<id property="productNum" column="productNum"></id>
 	<result property="kinds" column="kinds"></result>
 	<result property="contents" column="contents"></result>
 	<result property="price" column="price"></result>
 	<result property="productName" column="prductName"></result>
 	<result property="amount" column="amount"></result>
 	
 	<collection property="productImages" javaType="java.util.List" ofType="ProductImageDTO">
 		<id property="imageNum" column="imageNum"/>
 		<result property="thumbnail" column="thumbnail"/>
 		<result property="contents" column="contents"/>
 		<result property="fileName" column="fileName"/>
 		<result property="ogName" column="ogName"/>
 	
 	</collection>
 
 
 </resultMap>
 
 
 
 <select id="getTotalCount" resultType="java.lang.Long">
 
 select count(productNum) from product
 
 </select>
 
 
 
 

<insert id="setInsert" parameterType="ProductDTO">
	insert into product values(#{productNum},#{kinds},#{contents},#{price},#{productName},#{amount})
</insert>

<update id="setUpdate" parameterType="ProductDTO">
	update product set kinds=#{kinds},contents=#{contents},price=#{price},productName=#{productName},amount=#{amount} where productNum=#{productNum}
</update>

<delete id="setDelete" parameterType="ProductDTO">
	Delete from product where productNum=#{productNum}
</delete>




<select	id="getFileSelect" parameterType="ProductImageDTO" resultType="ProductImageDTO">
	select * from productImage where ImageNum=#{imageNum}
</select>

<insert id="setFileInsert" parameterType="ProductImageDTO">

	insert into ProductImage values(productImage_seq.nextval,#{productNum},#{thumbnail},#{fileName},#{ogName})
									
</insert>


<delete id="setFileDelete" parameterType="ProductImageDTO">
	delete from productImage where imageNum=#{imageNum}
</delete>





 </mapper>