<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
 <mapper namespace="com.shs.s1.product.ProductDAO">
 
 
 
 
 
 
 
 <select id="getList" parameterType="ProductPager" resultType="ProductDTO"> 
 
 select * from
(select rownum R, P.*
from (select * from product
 order by productNum desc) P)
 where R between #{startRow} and #{lastRow}
 
 
 
 </select>
 
 <select id="getSelect" parameterType="ProductDTO" resultType="ProductDTO">
  select * from product where productNum=#{productNum}
 </select>
 
 
 <select id="getTotalCount" resultType="java.lang.Long">
 
 select count(productNum) from product
 
 </select>
 
 
 
 

<insert id="setInsert" parameterType="ProductDTO">
	insert into product values(product_seq.nextval,#{kinds},#{contents},#{price},#{productName},#{amount})
</insert>

<update id="setUpdate" parameterType="ProductDTO">
	update product set kinds=#{kinds},contents=#{contents},price=#{price},productName=#{productName},amount=#{amount} where productNum=#{productNum}
</update>

<delete id="setDelete" parameterType="ProductDTO">
	Delete from product where productNum=#{productNum}
</delete>











 </mapper>